<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ingeniworks.mykomunitimardi">

    <uses-sdk tools:overrideLibrary="eu.fiskur.chipcloud" />

    <permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <provider
            android:name=".utils.GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CreateAnnouncement"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SelectTo"
            android:screenOrientation="portrait" />

        <activity
            android:name=".FeedDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProjectDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessageDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ComposeMessage"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ListApplicationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SelectProject"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AboutUsActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SettingsActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CustomImageGallery"
            android:noHistory="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>